@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Zach Irvine: Information Systems";
}

<h1>Zach Irvine</h1><br />

<img src="img/10473.jpeg" />
<p>I don't dance, but it's kind of a fun photo</p><br />

<img src="img/DSC_0037.JPG" />
<p>Here's a (decent) picture of me</p><br />

<br />

<div class="box">
    <br /><br />
    <h3>IS 413 Objectives</h3>
    <p>In this semester, I would like to be able to do full stack development more confidently. </p>
    <p>When I have done web development in the past, I feel like I'm not solving a problem, but I am</p>
    <p>put into situations where I either need to remember the syntax or all the lines of code that need to</p>
    <p>go into every folder. I am also terrible at front end development, so I am excited to learn</p>
    <p>more about React, and I hope that can fix my problems.</p>
    <br /><br />
</div>

<br /><br />

<div class="box">
    <br /><br />
    <h3><b>My Top 3 Prefered Careers:</b></h3>
    <ol>
        <li>Business Analyst</li>
        <li>Software Development</li>
        <li>Product Management</li>
    </ol>
    <br /><br />
</div>

<br /><br />
